# Ignore environment files
.env
backend/src/db/.env
db/__pycache__/
seeds/__pycache__/
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
backend/**/__pycache__/
frontend/**/__pycache__/
backend/**/__pycache__
backend\src\__pycache__
frontend\node_modules\
c/Users/r.kowdampalli/Documents/kisaanCenter/frontend/src/components/UserForm.css 
.venv12/
.vscode/tasks.json
